* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: #000000;
    --dark-grey: #222222;
    --light-grey: #4A4A4A;
    ---white: #FFFFFF;
    --green: #4BC800;
    --red: #F10E26;
}

body {
    background-color: var(--black);
    font-family: Poppins, sans-serif;
}

/* menu  */
menu {
    background-color: var(--dark-grey);
    height: 70px;
    position: fixed;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}

.menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}


.mic-cam,
.toolbar,
.end-meeting{
    display: flex;
}

.set {
    text-align: center;
    padding: 0 0.6rem;
    font-size: 1rem;
}

.arrow{
    display: flex;
    align-items: center;
    margin: 0 0.5rem;
}

/* hover non richiesto ma carino */
.set:hover i{
    color: var(--green);
}

.share i{
    color: var(--green);
}

.end-meeting{
    color: var(--red);
    background-color: var(--light-grey);
    height: 70px;
    padding: 1rem;
    align-items: center;
}

/* container  */
main{
    height: 100vh;
    max-width: 1392px;
    margin: 2rem auto;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
}

.card{
    width: calc(1280px / 7);
    position: relative;
    margin: 0.5rem;
}

img{
    width: 100%;
    height: 100%;
}

.name{
    color: white;
    background-color: #4a4a4a95;
    width: 70%;
    position: absolute;
    bottom: 0;
}
